# rename to .env
DATABASE_URL=file:./dev.db
TEST_DATABASE_URL=file:./.redwood/test.db
PRISMA_HIDE_UPDATE_MESSAGE=true
LOG_LEVEL=trace

# Used to encrypt/decrypt session cookies. Change this value and re-deploy to log out all users of your app at once.
SESSION_SECRET=

APP_URL=http://localhost:8910

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
AUTH_EMAIL_FROM=
